.result{
    padding-left: 300px;
    bottom: 0px;
    width: 100%;
    overflow: scroll;
    position: absolute;
    -webkit-text-fill-color: #fff;
}
.result thead{
    -webkit-text-fill-color: #fff;
}
.result tbody{
    -webkit-text-fill-color: #000;
}
#driverInfo table th {
    background-color: #4fad54;
}
#carInfo table th {
    background-color: #ff6d2a;
}