.result{
    padding-left: 300px;
    bottom: 0px;
    height: auto;
    width: 100%;
    position: fixed;
    -webkit-text-fill-color: #fff;
}
.result thead{
    -webkit-text-fill-color: #fff;
}
.result tbody{
    -webkit-text-fill-color: #000;
}
.result .table{
    margin-bottom: 0px;
}
#driverInfo table th {
    background-color: #4b87cb;
}
#carInfo table th {
    background-color: #4b87cb;
}