.toolbar .weatherBar{
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}
.toolbar .weatherBar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.toolbar .weatherBar li{
    float: left;
    margin: 1px;
}
.result{
    padding-left: 300px;
    bottom: 0px;
    width: 100%;
    overflow: scroll;
    position: absolute;
    -webkit-text-fill-color: #fff;
}
.result chart{
    float: left;
    max-height: 300px;
    max-width: 400px;
}