.toolbar{
    width: 270px;
    float: left;
    background-color: #fff;
    border-color: #04f;
    border-style: solid;
    border-width: 1px;
}
.toolbar .weatherBar{
    float: left;
}
.toolbar .weatherBar ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.toolbar .weatherBar li{
    float: left;
    margin: 1px;
}
.toolbar .inputBar {
    margin-top: 50px;
    margin-bottom: 20px;
}
.toolbar .inputBar input{
    margin: 0px;
    padding: 0px;
    min-width: 120px;
}
.toolbar .inputBar button{
    min-width: 50px;
    background-color: #fff;
    border-color: 0x068;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    padding: 0px;
}
.toolbar table{
    table-layout: fixed;
    width: 100%;
    border-color: 0x000;
    border-style: solid;
    border-width: 1px;
}
.toolbar table td{
    padding: 5px;
}
.toolbar .table_colume td {
    -webkit-text-fill-color: #fff;
    background-color: #4b87cb;
}
.toolbar .table_item td {
    background-color: #c9d5eb;
}
.toolbar .filterBar button{
    float: right;
    margin-right: 10px;
    -webkit-text-fill-color: #fff;
    background-color: #4b87cb;
}
.rate{
    position: absolute;
    min-width: 150px;
    top: 0px;
    right: 0px;
    background-color: #fff;
    border-color: #444;
    border-style: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
}
.rate p{
    margin-top: 4px;
    margin-bottom: 4px;
    -webkit-text-fill-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
#map{
    height: 100%;
    width: auto;
}