<div style="position:relative;">
	<div [hidden]="mode!='driver'" class="toolbar">
		<p style="background-color:#aaa;">用户名:{{username}}</p>
		<div class="input-group">
			<input name="driverId" required [(ngModel)]="driverId" class="form-control" type="text" placeholder="请输入司机ID">
			<span class="input-group-btn">
				<button (click)="onShowDriver()" class="btn btn-default" type="button">搜索</button>
			</span>
		</div>
		<span class="label label-primary">排序方式</span>
		<div class="btn-group">
			<button (click)="onSortDrivers(0)" type="button" class="btn btn-default">排名</button>
			<button (click)="onSortDrivers(1)" type="button" class="btn btn-default">变化</button>
		</div>
		<br/>
		<br/>
		<p style="float:right;">找到记录:{{driverList?.length}}</p>
		<div>
			<table class="table table-hover">
				<caption>司机安全指数</caption>
				<thead>
					<tr>
						<th>司机ID</th>
						<th>安全指数</th>
						<th>排名</th>
						<th>变化</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let driver of driverList">
						<td>{{driver.id}}</td>
						<td>{{driver.rate}}</td>
						<td>{{driver.rank}}</td>
						<td>{{driver.change}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div [hidden]="mode!='car'" class="toolbar">
		<div class="input-group">
			<input name="driverId" required [(ngModel)]="driverId" class="form-control" type="text" placeholder="请输入司机ID">
			<span class="input-group-btn">
				<button (click)="onShowCar(driverId)" class="btn btn-default" type="button">搜索</button>
			</span>
		</div>
		<span class="label label-primary">排序方式</span>
		<div class="btn-group">
			<button (click)="onSortCars(0)" type="button" class="btn btn-default">运行状态</button>
			<button (click)="onSortCars(1)" type="button" class="btn btn-default">在线时长</button>
		</div>
		<br/>
		<br/>
		<p style="float:right;">找到记录:{{driverList?.length}}</p>
		<div>
			<table class="table table-hover">
				<caption>车辆运行状况</caption>
				<thead>
					<tr>
						<th>司机ID</th>
						<th>运行状态</th>
						<th>在线时长</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let driver of driverList">
						<td>{{driver.id}}</td>
						<td>{{driver.status}}</td>
						<td>{{driver.onlinetime}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="map"></div>
	<div class="rate">
		<p style="-webkit-text-fill-color: #000">司机安全指数</p>
		<p style="background-color:#aa0008">非常低(0-25)</p>
		<p style="background-color:#ec1524">低(25-50)</p>
		<p style="background-color:#fd901d">高(50-75)</p>
		<p style="background-color:#24ba0c">非常高(75-100)</p>
	</div>
	<div [hidden]="selectDriver==null" class="result" id="driverInfo">
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>司机ID</th>
					<th *ngFor="let road of selectDriver?.roadList;let i = index">路段{{i+1}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="info">
					<td>{{selectDriver?.id}}</td>
					<td *ngFor="let road of selectDriver?.roadList">{{road.rate}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div [hidden]="selectCar==null" class="result" id="carInfo">
		<table class="table table-responsive">
			<thead>
				<tr>
					<th>司机ID</th>
					<th>车辆ID</th>
					<th>GPS时间</th>
					<th>经度</th>
					<th>纬度</th>
					<th>空车</th>
					<th>速度</th>
					<th>方向</th>
					<th>刹车</th>
					<th>高架</th>
				</tr>
			</thead>
			<tbody>
				<tr class="info">
					<td>{{selectCar?.driverId}}</td>
					<td>{{selectCar?.id}}</td>
					<td>{{selectCar?.gpstime}}</td>
					<td>{{selectCar?.lontitude}}</td>
					<td>{{selectCar?.latitude}}</td>
					<td>{{selectCar?.empty}}</td>
					<td>{{selectCar?.speed}}</td>
					<td>{{selectCar?.direction}}</td>
					<td>{{selectCar?.brake}}</td>
					<td>{{selectCar?.elevated}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>