<div style="position:relative;">
	<div [hidden]="mode!='road'" class="toolbar" id="roadMode">
		<div class="timeBar">
			<img src="app/images/weekday.png" />
		</div>
		<div class="weatherBar">
			<ul>
				<li><img src="app/images/weather0.png" /></li>
				<li><img src="app/images/weather1.png" /></li>
				<li><img src="app/images/weather2.png" /></li>
				<li><img src="app/images/weather3.png" /></li>
				<li><img src="app/images/weather4.png" /></li>
				<li><img src="app/images/weather5.png" /></li>
			</ul>
		</div>
		<div class="inputBar">
			路段名称
			<input id="roadname" type="text" />
			<button class="btn btn-default">确定</button>
		</div>
		<div class="roadlist">
			<table>
				<tr class="table_colume">
					<td>路段ID</td>
					<td>路段名称</td>
					<td>安全指数</td>
				</tr>
				<tr *ngFor="let road of roadList" class="table_item">
					<td>{{road.id}}</td>
					<td>{{road.name}}</td>
					<td>{{road.rate}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div [hidden]="mode!='company'" class="toolbar" id="companyMode">
		<div class="inputBar">
			企业名称
			<input id="company" type="text" />
			<button>搜索</button>
		</div>
		<div class="filterBar">
			排序方式
			<button>安全指数</button>
			<button>搜索</button>
		</div>
		<p style="float:right;">找到记录:{{companyList.length}}</p>
		<div class="companyList">
			<table>
				<tr class="table_colume">
					<td>路段ID</td>
					<td>路段名称</td>
					<td>安全指数</td>
				</tr>
				<tr *ngFor="let company of companyList" class="table_item">
					<td>{{company.name}}</td>
					<td>{{company.rate}}</td>
					<td>{{company.accident}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="map"></div>
	<div class="rate" [hidden]="mode!='road'">
		<p style="-webkit-text-fill-color: #000">路段安全指数</p>
		<p style="background-color:#aa0008">非常低(0-25)</p>
		<p style="background-color:#ec1524">低(25-50)</p>
		<p style="background-color:#fd901d">高(50-75)</p>
		<p style="background-color:#24ba0c">非常高(75-100)</p>
	</div>
	<div class="rate" [hidden]="mode!='company'">
		<p style="-webkit-text-fill-color: #000">企业安全指数</p>
		<p style="background-color:#aa0008">非常低(0-25)</p>
		<p style="background-color:#ec1524">低(25-50)</p>
		<p style="background-color:#fd901d">高(50-75)</p>
		<p style="background-color:#24ba0c">非常高(75-100)</p>
	</div>
</div>