<div style="position:relative;">
	<div [hidden]="mode!='road'" class="toolbar">
		<div class="timeBar">
			<h2>{{WEEKDAY[weather?.week]}}</h2>
			<h3 hidden="hidden">{{systemTime?.getHours()}}:{{systemTime?.getMinutes()}}</h3>
			<hr>
			<ngb-timepicker [(ngModel)]="time" [spinners]="spinners"></ngb-timepicker>
		</div>
		<hr>
		<div ngbRadioGroup name="radioBasic" required [ngModel]="weatherChecked" (ngModelChange)="onPickTimeWithWeather(roadname,time.hour,$event)">
			<label class="btn btn-primary">
    			<input type="radio" value="sunny" >
				<img src="app/images/weather0.png">
  			</label>
			<label class="btn btn-primary">
    			<input type="radio" value="rainy" >
				<img src="app/images/weather1.png">
  			</label>
			<label class="btn btn-primary">
    			<input type="radio" value="medium-rainy" >
				<img src="app/images/weather2.png">
  			</label>
		</div>
		<br/>
		<br/>
		<button (click)="onShowRoad(roadname,time.hour,weatherChecked)" class="btn btn-default">查看</button>
		<div class="input-group">
			<input name="roadname" required [(ngModel)]="roadname" class="form-control" type="text" placeholder="请输入路段名称">
			<span class="input-group-btn">
				<button (click)="onShowRoad(roadname,time.hour,weatherChecked)" class="btn btn-default" type="button">确定</button>
			</span>
		</div>
		<div>
			<table class="table table-hover">
				<caption>路段安全指数</caption>
				<thead>
					<tr>
						<th style="padding-top: 8px;padding-bottom: 8px;">路段ID</th>
						<th style="padding-top: 8px;padding-bottom: 8px;">路段名称</th>
						<th style="padding-top: 8px;padding-bottom: 8px;width: 80px">安全指数</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let road of roadList">
						<td>{{road.id}}</td>
						<td>{{road.name}}</td>
						<td>{{road.rate}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<p [hidden]="!isSearching">正在查找数据...</p>
	</div>
	<div [hidden]="mode!='company'" class="toolbar" id="companyMode">
		<div class="input-group">
			<input name="companyname" required [(ngModel)]="companyname" class="form-control" type="text" placeholder="请输入企业名称">
			<span class="input-group-btn">
				<button (click)="onShowCompany()" class="btn btn-default" type="button">搜索</button>
			</span>
		</div>
		<span class="label label-primary">排序方式</span>
		<div class="btn-group">
			<button (click)="onSortCompany(0)" type="button" class="btn btn-default">安全指数</button>
			<button (click)="onSortCompany(1)" type="button" class="btn btn-default">事故数</button>
		</div>
		<br/>
		<br/>
		<p style="float:right;">找到记录:{{companyList.length}}</p>
		<div>
			<table class="table table-hover">
				<caption>企业安全指数</caption>
				<thead>
					<tr>
						<th style="padding-top: 8px;padding-bottom: 8px;">企业名称</th>
						<th style="padding-top: 8px;padding-bottom: 8px;">安全指数</th>
						<th style="padding-top: 8px;padding-bottom: 8px;width: 80px">事故数</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let company of companyList">
						<td>{{company.name}}</td>
						<td>{{company.rate}}</td>
						<td>{{company.accident}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div id="map"></div>
	<div class="rate" [hidden]="mode!='road'">
		<p style="-webkit-text-fill-color: #000">路段安全指数</p>
		<p style="background-color:#42e806">A</p>
		<p style="background-color:#96FF60">B</p>
		<p style="background-color:#FFFF0B">C</p>
		<p style="background-color:#FB0006">D</p>
	</div>
	<div class="rate" [hidden]="mode!='company'">
		<p style="-webkit-text-fill-color: #000">企业安全指数</p>
		<p style="background-color:#42e806">A</p>
		<p style="background-color:#96FF60">B</p>
		<p style="background-color:#FFFF0B">C</p>
		<p style="background-color:#FB0006">D</p>
	</div>
</div>